<div class="task">
  <h1>Article Details</h1>

  <h2 class="mt-4"><%= @article.title %></h2>
  <p> <%= @article.content %> </p>

  <div class="btn mt-3">
    <%= link_to "ðŸ“ Edit article", edit_article_path(@article) %></li>
  </div>

  <div class="btn mt-3">
    <%= link_to "ðŸ—‘ï¸ Delete article",
      article_path(@article),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  </div>
</div>
