@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


/* general styling */

body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, .navbar {
  margin-top: 10px;
  font-family: "Playfair Display", serif;
}

a {
  text-decoration: none;
  /* display: inline-block; */
  color: black;
}

.index, .task, .edit, .add {
  width: 50%;
}

.btn {
  background-color: #3b93a0;
  color: white;
  padding: 5px;
  margin-right: 10px;
}

.btn:hover {
  background-color: rgb(159, 154, 154);
}

.btn > a {
  color: white;
}

/* footer / socials list  */

.footer {
  text-align: center;
  background-color: black;
  opacity: 0.8;
  padding: 20px 0;
}

.list-inline {
  margin: 0 auto;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 10px;
}

.fa-brands {
  font-size: 30px;
  color: rgb(159, 154, 154);
}

.fa-brands:hover {
  color: #3b93a0;
}
